@tailwind base;
@tailwind components;
@tailwind utilities;

.min-darkest-dracula{
  --background: 0 0% 7%;
  --foreground: 0 0% 90%;
  --border: 0 0% 25%;
  
  --primary: 265 89% 78%;
  --primary-foreground: 0 0% 90%;

  --accent: 180 1% 16%;
  --accent-foreground: 0 0% 90%;

  --muted: 225 2% 38%;
  --muted-foreground: 0 0% 73%;

  --destructive: 355 86% 49%;
  --destructive-foreground: 0 0% 90%;

  --bg-gradient: radial-gradient(circle, hsl(var(--primary)) -150%, hsl(var(--accent)) 100%);
}

*{
  border-color: hsl(var(--border));
} 

:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 2px hsl(var(--primary));
}

/* Code/Files Highlight */

code {
  tab-size: 2 !important;
}

code, code > *, code > * > * {
  text-shadow: none !important;
}

.react-syntax-highlighter-line-number, .line-number{
  color: hsl(var(--muted)) !important;
}

/* JSON */

.language-json .punctuation{
  color: hsl(324, 59%, 65%);
}

.language-json .property{
  color: hsl(189, 97%, 74%);
}

.language-json .operator{
  color: hsl(0, 0%, 100%);
}

.language-json .string{
  color: hsl(64, 93%, 73%);
}

.language-json .number{
  color: hsl(278, 45%, 71%);
}

.language-json .boolean{
  color: hsl(278, 45%, 71%);
}

/* Markdown */
.language-md{
  color: hsl(90, 6%, 80%) !important;
}

.language-md span{
  color: hsl(90, 6%, 80%);
  text-shadow: none;
}

.language-md .important{
  font-weight: 600;
  color: hsl(265, 89%, 78%);
}

.language-md .bold{
  font-weight: 600;
  color: hsl(31, 100%, 71%);
}

.language-md .code{
  color: hsl(118, 81%, 61%);
}

.language-md .italic{
  font-style: italic;
  color: hsl(65, 92%, 76%);
}